

body {
    font-family: "Nunito", sans-serif;
}

/* CELL */
.cell {

    border: 1px solid black;
    text-align: center;
    width: 80px;
    height: 80px;
    padding: 0;
    font-size: 20px;
    font-weight: 200;

}

.b-right:nth-child(3n+0) {
    border-right: 3px solid black;
}

.b-bottom-right {
    border-bottom: 3px solid black;
    border-right: 3px solid black;
}

.b-bottom:nth-child(3n+0) {
    border-bottom: 3px solid black;
}

.b-bottom-row {
    border-bottom: 3px solid black;
}

.b-table {
    border: 3px solid black;
}

/* FOOTER */


.footer {
    position: fixed;
    bottom: 0;
    width: 100%;
    height: 40px;
    background-color: #212529;
}

.text-muted {
    color: #fff;
}

.jumbotron {

    padding: 1rem 1rem;

}